# IntelliJ
/**/.idea
/**/*.iml

# Main Project
/build
/development/keystore
/program/keystore
/program/classes
/program/*.jar
/release
/storage

# Test Environment
/test/classes
/test/stage
/test/reports
