main > p {
  color: #999999;
}
main > p + p {
  color: #CCCCCC;
  display: none;
}
main > p + p[class~='#[http_status]'] {
  display: block;
}



@media screen and(min-width:1400px) {
  main > p {
    padding-bottom: 5em;
  }
  main > p + p {
    margin-top: -5em;
  }
}